/*--------------µÇÂ½¿ò begin---------------*/
#markupbox{ /*display:none;*/position:absolute;top:0;left:0;z-index:1002;width:100%;background:rgba(0,0,0,0);clear:both;}
div#tanchubox{/*position:absolute;z-index:1002;top:-2160px;left:220px;*/margin-top:55px;margin-left:220px;background:url('../images/tanchuimgcgnp.png') no-repeat;width:560px;height:262px;position:relative;}
#btnclosecgnp{width:20px;height:20px;float:right;cursor:pointer;/*background:url('../images/btn_closecgnp.jpg') no-repeat 20 20;*/}
#weixinboxcgnp{position: absolute;top:90px;left:48px;/*border:1px solid red;*/}
#weixinboxcgnp h4{margin-top: 5px;}
#logregwrap{width:317px;height:215px;position: absolute;top:20px;left:215px;/*border:1px solid red;*/}
#logregwrap{font-size: 17px;color:#4692E9;}
#logregwrap .labletext{color:black;font-size: 15px;margin-left:5px; }
div#btnradio{width:317px;height:25px;margin-top: 15px;}
div#btnradio input{margin-left: 10px;}
#srhbarcgnp,#srhbarcgnp1{float:left;background:#D7EFFD; width:192px; margin:7px 0px; overflow:hidden; height:31px; border: solid 1px #D7EFFD; background-size:10px 10px; /*background-color: #e0e0e0;*/ }
#srhbarcgnp1{margin-top: 0px;}
.srhbarcgnp{display:block; float:left; height:35px; width:192px;-webkit-appearance:none; font-size:15px;background:#D7EFFD; }
.srhTextcgnp { font-size:15px;color:#86BBFD;border: 0; outline:0; width:93%; padding:5px 2% 5px 0; margin-left:10px; height:20px !important; line-height:20px !important; outline:none;background:#D7EFFD; /*background-color: #e0e0e0;*/ }
#srhbarcgnp2{width:192px;height:29px;}
#srhbarcgnp2 .btnlogcgnp{cursor:pointer;width:192px;height:29px;border:0px;}
#textbox88{width:192px;height:30px; font-size:14px; margin-top:100px;  *margin-top:10px!important;_margin-top:0px!important; }
#textbox88 #passwordtext a{color:#86A9E9; }
#textbox88 #lijiregtext a{color:#92AF41;}
#textbox88 #passwordtext{float:left; }
#textbox88 #lijiregtext{color:#92AF41;float:right;text-decoration: underline;}
#tipusercgnp,#tippwcgnp{display:none;margin-top:7px;float:left;width:120px;height:31px;}
#tippwcgnp{background:url('../images/tipusercgnp.jpg') no-repeat;margin-top:1px;}
#tipusercgnp{background:url('../images/tipusercgnp.jpg') no-repeat;}
#tipusercgnp .tipusercgnptext,#tippwcgnp .tipusercgnptext{font-size: 12px;color:#fff;line-height:30px;margin-left: 12px;}
#weibologin{background:#D82E00;cursor:pointer;float:left;width:166px;height:47px;font-size: 12px;color:#fff;position:absolute;top:25px;left:17px;}
#weibologin p{font-size: 14px;color:#fff;position:absolute;top:15px;left:48px;}
#weibologin img{margin-top:10px;margin-left: 12px;}

/*--------------µÇÂ½¿ò end---------------*/

/*µÇÂ¼½áÊø*/

/*µ¼º½ ¿ªÊ¼*/

#header{ width:100%;height:145px;border-bottom:2px solid #DFD6EA;/*background:url(../images/bj.png); */}
.bj{/*--width:1106px; padding-left:100px; padding-right:100px; margin:0 auto;--*/ width:1040px; margin:0 auto; }
.logo{/*-- margin-left:33px;--*/width:349px; _width:351px; height:109px; background:url(../images/logo_03_1.png) no-repeat; cursor:pointer;float:left; margin-top:19px;_margin-top:20px;_background:none;/*IE6Í¸Ã÷*/  
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/logo_03_1.png" ,sizingMethod="noscale");/*IE6Í¸Ã÷*/ }
.nav{ width:650px; height:150px; height:78px;  
  line-height: 78px; list-style-type: none;float:right; margin-top:20px; position:relative; z-index:999; }
#nav {_width:650px; width:650px;    height:78px; font-size:17px;
  line-height: 58px;  list-style-type: none; position:absolute; top:20px; }

#nav a {
 display: block; width: 128px;_width: 127px; text-align:center;
}

#nav a:link  {
 color:#666; text-decoration:none; 
}
#nav a:visited  {
 text-decoration:none; /*color:#fff;*/ 
}

#nav .listli:hover > a > ul > li {
 color:#FFF;text-decoration:none;font-weight:bold;border-top:2px solid #0293de;
}

#nav li {
 float: left;margin-right: 0px; width: 128px; _width:127px;position:relative;border-right: 1px solid #E0DEDE;
}
#nav li a{
 color:#292a2a; font-weight:bold;
}
#nav .listli:hover,#nav .a:hover{
 background:#3499EA; color:#FFF;border-bottom:1px solid #c5e8fa;border-radius: 10px;
}
#nav li ul {right:-43px;
 line-height: 78px;  list-style-type: none;text-align:left;
 left: -999em; width: 220px; position: absolute;
}
#nav li ul .arrow {background: url('../images/nav_header.jpg') no-repeat;width:220px;height:13px;}

#nav li ul li{
 float: left; width: 220px;height:60px;
background:#3499EA; border-bottom:1px solid #0065A5;color:#fff;position:relative;
}
#nav li ul li:hover{background:#2a89d6;}
#nav li ul > li:first-child{height:50px;}
#nav li ul > li:last-child{border-bottom-style:none;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}


#nav li ul a{
 display: block;width: 220px;_width: 220px;margin-left:0px; padding-left:0px;line-height:40px;margin-top:10px;color:#fff;
}

#nav li ul a:link  {
 color:#fff; text-decoration:none;
}
#nav li ul a:visited  {
 color:#fff;text-decoration:none;
}
#nav li ul a:hover  {
 color:#fff;text-decoration:none;font-weight:normal;
  border:0;font-weight:bold; 
}

#nav li:hover ul {
 left: auto;
}
#nav li.sfhover ul {
 left: auto;
}
/*µ¼º½ ½áÊøbackground:url(../images/btntuichucgnp.jpg) no-repeat;*/

#top{background:#3499ea; width:100%;}
.zc_top{ width:1040px; margin:0 auto; height:44px;}
.hello_left{ float:left;width:590px;  }
.hello_right{float:right;width:450px; color:#ffffff;  text-align:right; position:relative;z-index:1100; font-size:15px;}
.hello_left1{ float:left;font-size:15px; color:#ffffff; letter-spacing:1px; line-height:44px;}
.hello_left2 { float:left; background:#ffffff; border-radius:5px; height:30px;  margin-top:7px; padding-left:10px;padding-right:10px; }
.hello_left2 a{ font-weight:bold;line-height:30px; color:#3499ea;}
.hello_right a{line-height:44px; color:#ffffff;}
.hello_left3{ font-size:15px;}
.hello_left3 a{line-height:44px; color:#ffffff; display:block; float:left;}
#tcan{ background:url(../images/btntuichucgnp.jpg) no-repeat; margin-left:5px; width:71px; height:35px; text-align:center; line-height:42px; margin-top:2px;}
/*.gzwm h4{font-size:14px;color:#3273A7;text-align: center;margin-top: -10px;}
.gzwm{display:none;width:129px;height:359px;position:absolute;z-index:1000;top:35px;right:-25px;_right:-25px;background: url('../images/erweima-bgcngp.png') no-repeat;}
#ewmimg{margin-top:37px;margin-left:17px;*margin-right:17px!important;_margin-right:17px;width:98px;height:98px;background: url('../images/doc2wm.jpg') no-repeat;}
#ewmimg2{margin-top:37px;margin-left:17px;*margin-right:17px!important;_margin-right:17px;width:98px;height:98px;background: url('../images/fam2wm.jpg') no-repeat;}
#ewmimg2{margin-top:14px;}
.bottombox_h{width:129px;height:30px;margin-top:0px;}
.weiboimg1_h{width:20px;height:15px;float:left;margin-left: 7px;_margin-left:3px;margin-top:3px;}
#weibotext_h{float:left;}
#weibotext_h span{margin-left:7px;font-weight: bold;color:black;font-weight: bold;font-size:12px;}
.icon123_h{width:10px;height:9px;float:right;margin-right:7px;margin-top:8px;}*/
.gzwm{display:none;width:129px;height:359px;position:absolute;z-index:1000;top:45px;right:-30px;_right:130px;background: url('../images/erweima-bgcngp.png') no-repeat;}
.gzwm .qkzxheadtext{font-size:14px;color:#3273A7;text-align: center;margin-top: -10px;}
.qkzxheadbox{text-align: center;width:129px;height:135px;margin-top: 36px;}
.jtzxheadbox{text-align: center;width:129px;height:135px;margin-top: 0px;}
#ewmimghead{margin:auto;margin-top:10px;width:98px;height:98px;background: url('../images/doc2wm.jpg') no-repeat;*margin-top:0px!important;}
#ewmimg2head{margin:auto;margin-top:10px;width:98px;height:98px;background: url('../images/fam2wm.jpg') no-repeat;}

.bottomboxhead{width:129px;height:30px;margin-top:5px;*margin-top:15px!important;position:relative;}
.weiboimg1head{width:15px;height:15px;position:absolute;left:5px;top:2px;}
#weibotexthead{position:absolute;left:30px;*left:0px!important;width:100px;height:20px;position:relative;}
#weibotexthead .zgqkyswhead{letter-spacing:1px;position:absolute;top:-10px;left:0px;font-weight: bold;color:black;font-weight: bold;font-size:12px;}
