@charset "gb2312";
@charset "gb2312";
/* CSS Document */

*{ margin:0px; padding:0px;letter-spacing: 0.5px; }
ul li{ float:left; list-style-type:none;}
img{ border:none;}
a{ text-decoration:none;}
body{ width:100%; height:auto; font-family:"Microsoft Yahei"; min-width:1200px; overflow-x:hidden;margin:0; padding:0;}
.clear{ clear:both;}
.commun_box{ width:1040px; margin:0 auto;}
.commun_01{padding-top:20px; padding-bottom:20px;}
.commun_011{position:relative;}
.commun_011{ width:561px;   float:left; background:#f3f3f3;}
.commun_011_left{ float:left; width:399px; height:280px; background:#09F;}
.commun_011_right{ float:left; padding:10px; width:140px;}
.commun_011_right h4{line-height: 25px;padding-bottom:5px;overflow: hidden;font-family: "Microsoft YaHei";font-size: 16px;font-weight: bold; letter-spacing:0px; color:#4e4e4e; }
.commun_011_right p{color: #888888;line-height: 21px;padding-top: 12px;clear: both; font-size:12px;}
.commun_012{ width:459px;height:280px;  float:right;border:3px solid #4B4B4B;border-right-style:none;border-bottom-style:none;border-left-style:none;}
.commun_02,.commun_03{ padding-bottom:32px;}
.commun_021,.commun_022,.commun_031,.commun_032{border:2px solid #A3A2A2;border-right-style:none;border-bottom-style:none;border-left-style:none;}
.commun_021,.commun_022,.commun_023,.commun_031,.commun_032,.commun_033{ width:364px; height:243px; float:left;}
.commun_031,.commun_032,.commun_033{ width:364px; height:360px;}
.commun_022,.commun_023,.commun_032,.commun_033{ margin-left:13px;}
.commun_023{_width:265px;}
.commun_023,.commun_033{ width:281px;border:3px solid #4B4B4B;border-right-style:none;border-bottom-style:none;border-left:1px solid #E8E6E6;}
.commun_04{ border-top:3px solid #4b4b4b;height:333px;width:1040px;margin-top:30px;}
.commun_041{ height:50px;}
#commun_042a{ margin-right:0;}
.ydjk_commun_01{width:1040px;height:345px;margin-top: 20px;}
.ydjk_commun_01 .ydjk_focusbox{width:730px;height:341px;border:1px solid #E8E8E8;float:left;}
#focus{width:714px;height:325px;overflow:hidden;position:relative;float:left;margin-top: 8px;margin-left: 8px;_margin-left:4px;}
#focus ul{height:380px;position:absolute;}
#focus ul li{float:left;width:714px;height:325px;overflow:hidden;position:relative;}
#focus ul li img{float:left;}
#focus .btn{position:absolute;width:105px;height:10px;right:70px;bottom:30px;*bottom:37px!important;_bottom:22px;text-align: center;line-height: 10px;}
#focus .btn a{display:inline-block;_display:inline;_zoom:1;margin-left:5px;cursor:pointer;}
/*#focus .btn span{display:inline-block;float:left;_display:inline;_zoom:1;width:112px;height:112px;_font-size:0;margin-left:5px;cursor:pointer;background:#EEE;}*/
/*#focus .btn img.on{background:#CACACA;}*/
#focus .preNext{width:17px;height:4px;position:absolute;top:90px;cursor:pointer;}
#focus .pre{left:543px;top:290px;background:url(../images/ydjkprev77.png) no-repeat;}
#focus .next{right:70px;top:290px;background-position:right top;background:url(../images/ydjknext77.png) no-repeat;}
#focus .ydjktextbox{width:214px;height:258px;float:left;margin-left: 30px;_margin-left:20px;}
#focus .ydjktextbox .ydjktimetext{color:#FF9423;font-size: 14px;}
#focus .ydjktextbox h4{color:#656565;margin-top: 10px;line-height:24px;margin-bottom:10px;}
#focus .ydjktextbox p{color:#656565;font-size: 14px;line-height:24px;margin-top:15px;}
/*-------业界动态--------------------*/
.ydjk_commun_01 .ydjk_yejdt77{float:left;width:290px;height:345px;margin-left: 15px;border-top: 3px solid #2D465A;}
.ydjk_commun_01 .ydjk_yejdt77 .ydjk_yejdt77hot{height:21px;width:100px;border-left: 6px solid #598202;margin-top: 10px;}
.ydjk_commun_01 .ydjk_yejdt77 .ydjk_yejdt77hot p{font-size:17px;line-height:21px;font-weight:bold;color:#4B4B4B;letter-spacing: 1px;margin-left:15px; }
#icon11{width:18px;height:72px;float:left;margin-top:2px;}
#icon11 .icon11{margin-left: 5px;}
#renwu{width:101px;height:71px;float:left;}
.ydjkckxq77{width:94px;height:21px;background:#F7931E;margin-left:7px;margin-top: 52px;*position:relative!important;*top:50px!important;text-align: center;}
.ydjkckxq77 a{color:#FFF;font-size: 14px;line-height: 19px;}
.textli1 .lia1{position:absolute;top:2px;left:7px;font-size:14px;line-height:22px;color:#3B3B3B;letter-spacing: 1px;}
#textList .textli1{width:288px;height:81px;background:#FFF; }
#textList{background:#F4F4F4;width:288px;height:300px;margin-top:10px;font-size:14px;}
#textList .li_text2{width:285px;color:#282828;font-size: 14px;letter-spacing: 1px;margin-left:5px;}
#textList .textli33{width:275px;height:27px;margin-left: 10px;_margin-left:5px;}
.textli33 img{margin-bottom: -3px;margin-left: 5px;}
#lianjie{position:relative;float:left;left:5px;width:155px;height:75px;}


.ydjk_commun_02{width:1040px;height:800px;margin-top: 10px;}
.ydjk_commun_02_left77{margin-top:5px;width:105px;height:421px;float:left;text-align: center;background: #0580BF;}
.ydjk_commun_02 .ydjk_commun_02_left77top{width:105px;height:62px;background: #093A71;text-align: center;}
.ydjk_commun_02 .ydjk_commun_02_left77top img{margin-top:22px;}
.ydjk_commun_02_left77 a{width:105px;height:50px;line-height: 50px;background: #0580BF;display: block;color:#FFF;font-size: 15px;}

.ydjk_commun_02_right77{width:925px;height:800px;float:left;margin-left: 5px;_margin-left:5px;}
.ydjk_commun_02_rc77{width:925px;height:800px;}
.ydjk_commun_02_rc7701{width:223px;height:740px;float:left;margin-left: 8px;_margin-left:4px;}
.ydjk_commun_02_rc7701top{width:223px;height:390px;border:1px solid #F2F2F2;}
.ydjk_commun_02_rc7701toptitle{width:223px;border-bottom: 1px dotted #F2F2F2;}
.ydjk_commun_02_rc7701topt{width:203px;height:52px;margin-left: 10px;color:#AF7230;font-size: 15px;line-height: 26px;padding: 5px 0px;}
.ydjk_commun_02_rc7701topc{color:#414142;font-size: 14px;width:203px;margin-left: 10px;line-height: 27px;margin-top: 2px;}
.mth{height:336px;}
.mt,.mth{margin-top: 5px;}
#ydjkcommun02-1{background: #42ABE1;}
#ydjkcommun02show-1{display: block;}
#ydjkcommun02show-2,#ydjkcommun02show-3,#ydjkcommun02show-4,#ydjkcommun02show-5,#ydjkcommun02show-6,#ydjkcommun02show-7,#ydjkcommun02show-8{display: none;}
.ydjkjzmore{text-align:center;width:916px;float:left;margin-left:7px;_margin-left:3px;margin-top:20px;height:38px;}
.ydjkjzmore a{width:916px;height:38px;cursor: pointer;}



.ydjk_commun_03{width:1040px;height:260px;margin-top: 15px;border-top: 3px solid #E4E4E4;}
.ydjkwxzx77{width:505px;height:239px;float:left;margin-top: 20px;margin-left: 5px;_margin-left:3px;}
.ydjkwxzx77imgbox{width:136px;height:184px;text-align: center;float: left;margin-left:5px;margin-top: 30px;}
.ydjkwxzx77img{width:136px;height:135px;border-radius: 5px;border:1px solid #E4E4E4;}
.ydjkwxzx77img img{margin-top: 5px;}
.ydjkwxzx77imgbox p{color:#AF7230;font-size: 14px;}
.ydjkwxzx77docbox{width:351px;height:239px;background:url('../images/ydjkjqkzxwxzx77docbg.jpg') no-repeat;float:left;margin-left: 10px;_margin-left:5px;}
.bg{background:url('../images/ydjkjtyswxzx77docbg.jpg') no-repeat;}
.ydjkdocinto77{width:310px;height:43px;margin-top:10px;margin-left: 28px;position: relative;z-index: 1;}
.ydjkdocinto77 img{border-radius: 50px;float:left;position:relative;z-index: 3;}
.ydjksub77{width:69px;height:24px;font-size:14px;color:#5EA7DD;background: #CBEBFF;float:left;position:relative;left:-27px;top:19px;z-index: 2;}
.ydjksub77 p{margin-left: 32px;line-height: 24px;}
.ydjksay77{background: #E3F4FE;width:215px;height:24px;margin-left: 45px;float: left;margin-top:-5px;}
.ydjksay77 p{color:#4E4E4E;font-size: 12px;line-height: 24px;margin-left: 5px;}
.ydjkwxzx77docbox .ydjknamehos{position: absolute;top:0px;left:50px;color:#FFF;font-size: 14px;line-height: 18px;}
.ydjkwxzx77docbox .ydjknamehos img{border: 2px solid #FFF;}
/*-------专家面对面--------------------*/
.hotbar7{height:60px;width:282px;}
.hottitle7{width:134px;height:35px;float:left;}
.hottitle7 img{margin-top:15px;margin-bottom:30px;margin-left:25px;}
.carousel{position:relative;}
.carousel a{display:block; width:194px; height:254px;float:left;}
.carousel .first1 , .carousel .last1 {float:left;height:55px;width:55px;overflow:hidden;display:block;margin-top:100px;text-decoration:none;cursor:pointer;}
.carousel .last1 {background:url('../images/btn_right.png') no-repeat;border:none;position:absolute;top:7px;left:970px;z-index:5;_left:940px;}
.carousel .first1 {background:url('../images/btn_left.png') no-repeat;border:none;position:absolute;top:7px;right:970px;z-index:5;_left:-20px;}
.jCarouselLite {border:0px ;width:1040px;height:254px;overflow:hidden;margin-left:30px;position:relative;z-index:1;}
.item{height:254px;width:194px;position:relative;text-align: center;}
.jCarouselLite li img{width:184px;height:254px;}
.caption{width:194px;height:254px;margin-left:13px;color:#fff;font-weight:bold;position:absolute;left:0px;display:none;_background:#5A9CD1;background:#1371bd;filter:_alpha(0.7);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
.namebox{position:absolute;top:214px;left:5px;width:184px;height:40px;_background:#5A9CD1;_background:#000000;background:#1371bd;filter:_alpha(0.7);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
.namebox .name{line-height:40px;margin-left:-100px;color:#fff;}
.name,.zhic,.zhiwei,.intro{height:20px;width:164px;margin-top:10px;margin-left:-100px;}
.intro p{height:auto;width:164px;color:#fff;font-weight:bold;font-size:16px;}
.intromore{color:#a1e700;}
/*-------支持单位--------------------*/

.commun_support{ height:154px;background: #F8F8F8;border:1px solid #ddd;}
#supportbox{width:204px;height:154px;background: url('../images/zcdw.jpg') no-repeat;float:left;}
.commun_support_01{ width:1040px;height:150px; margin:0 auto;background:#f8f8f8;}
.commun_support_01 .a_service{width:138px;height:154px;float:left;text-align:center;font-size:12px;border-left:1px solid #dddddd;}
.sertext{color:#3B3B3B;line-height:30px;}
.servicebox{margin-top:30px;}
/*-------底部--------------------*/
.a_foot{ width:100%; min-width:1200px; background:#f5f5f5; background:#3499ea; height:130px;}
.down{ width:1200px; margin:0 auto; text-align:center; color:#FFFFFF; font-size:15px; line-height:25px; /*padding-bottom:42px;*/ padding-top:38px;}
.down a{ text-decoration:underline;}
.down a:hover{ text-decoration:none; color:#ffffff;}





